ion-content {
  --padding-start: 2rem;
  --padding-end: 2rem;
  --padding-bottom: 4rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .avatar {
      ion-img {
        width: 30px;
        height: 30px;
        margin-top: 26px;
      }
    }
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
    margin-bottom: 50px;
  }

  .list-header {
    color: #000;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
  }

  .no-result {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f3f3f3;
    gap: 13px;
    ion-img {
      max-width: 46px;
      width: 100%;
    }
  }
}
