<ion-content>
  <!-- HEADER -->
  <div class="header">
    <h1 class="big-title">Menu</h1>
    <div class="avatar">
      <ion-img src="../../../assets/icon/default-user.png"></ion-img>
    </div>
  </div>

  <!-- Searchbar -->
  <app-searchbar (onSearch)="search($event)"></app-searchbar>

  <!-- Categories -->
  <div class="categories">
    <app-category-item *ngFor="let item of categories" [item]="item"
      (setActive)="setActiveCategory($event)"></app-category-item>
  </div>

  <!-- Products -->
  <h1 class="list-header">{{activeCategory}}</h1>
  <div class="food-list">
    <!-- {{ foods | productFilter:activeCategory }}  -->
    <app-food-card *ngFor="let food of foods | productFilter:activeCategory" [item]="food">
    </app-food-card>

  </div>
  <div class='no-result' *ngIf="(foods | productFilter:activeCategory).length === 0">
    <ion-img src="../../../assets/icon/icon search 1.svg"></ion-img>
    <p class='not-result-message'>
      Sorry, we couldn't find any <span style='font-weight: 700; color: #6B4ECA;'>“{{searchedProduct}}”</span> in
      this category
    </p>
  </div>
</ion-content>