ion-content {
  --padding-start: 2rem;
  --padding-end: 2rem;
  --padding-bottom: 4rem;

  .empty-favorites {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f3f3f3;
    gap: 13px;
    color: #000;
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    ion-img {
      max-width: 46px;
      width: 100%;
    }
  }
}
