ion-searchbar {
  --border-radius: 20px;
  --placeholder-color: #a0a0a0;
  --color: #00040e;
  --background: #f3f3f3;
  --box-shadow: none;
  font-family: Comfortaa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;

  margin-bottom: 25px;
}
