ion-content {
  // --padding-start: 2rem;
  --padding-end: 2rem;
  --padding-bottom: 4rem;

  .food-list-block {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  .empty-cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .cart-icon {
      // max-width: 205px;
      // width: 100%;
      max-height: 200px;
      height: 100%;
    }
    p {
      color: #dcdcdc;
      font-family: Comfortaa;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-wrap: none;
      text-align: center;
    }
  }
}
