<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu" routerLink="/tabs/menu">
      <ion-icon name="grid-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map" routerLink="/tabs/map">
      <ion-icon aria-hidden="true" name="location"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favourites" routerLink="/tabs/favourites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
    </ion-tab-button>


    <ion-tab-button tab="cart" routerLink="/tabs/cart">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>