.card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 45px;
  background: #f3f3f3;
  padding: 35px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .item-img {
    max-width: 91px;
    height: 91px;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    // filter: blur(2.5px);
    box-shadow: 0px 0px 15px rgb(143, 143, 143);
  }
  .item-title {
    color: #00040e;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .item-price {
    color: #f6af00;
    text-align: center;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    sup {
      margin-right: 0;
    }
  }
  .add-to-cart {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 0px);
    width: 18px;
    height: 18px;
    background-color: #6b4eca;
    padding: 12px;
    border-radius: 50%;
    color: #fff;
  }
  .add-to-favorite {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
  }
}
