ion-content {
  //   --padding-start: 2rem;
  //   --padding-end: 2rem;
  //   --padding-bottom: 4rem;
  --background: #6b4eca;

  .detail-header {
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    .return-icon {
      max-width: 35px;
      width: 100%;
      cursor: pointer;
    }
    .white-icon {
      max-width: 34px;
      width: 100%;
      cursor: pointer;
    }
  }
  .detail-body {
    position: relative;
    border-radius: 55px 55px 0px 0px;
    background: #fff;
    width: 100%;
    // height: calc(100vh - 240px);

    margin-top: 240px;
    // padding: 130px 35px 35px;
    .item-image {
      max-width: 200px;
      height: 200px;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;

      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -60%);
    }
    .detail-content {
      padding: 130px 35px 70px;
      .det-cont-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: 25px;
        .detail-title {
          color: #000;
          font-family: Comfortaa;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .price {
          position: relative;
          display: flex;
          flex-wrap: nowrap;
          color: #f6af00;
          text-align: center;
          font-family: Comfortaa;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          & sup {
            position: absolute;
            font-size: 16px;
            margin-right: 0;
            margin-top: 5px;
            left: -10px;
          }
        }
      }
      .mini-card-block {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 50px;
        flex-wrap: wrap;

        .mini-card {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          flex-wrap: nowrap;

          border-radius: 18px;
          background: #6b4eca;
          padding: 13px;
          color: #f3f3f3;
          text-align: center;
          font-family: Comfortaa;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          span {
            margin-top: 4px;
          }
          ion-img {
            max-height: 21px;
            height: 100%;
          }
        }
      }
      .detail-about {
        margin-bottom: 50px;
        .subtitle {
          color: #000;
          font-family: Comfortaa;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .about-text {
          color: #a0a0a0;
          font-family: Comfortaa;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 24px */
        }
      }
      .add-to-cart {
        color: #f3f3f3;
        text-align: center;
        font-family: Comfortaa;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        border-radius: 30px;
        background: #6b4eca;
        padding: 21px;
        width: 100%;
      }
    }
  }
}
